.servicos{
    margin-top: 50.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: animacaoServicos;
    animation-duration: 1s;
}

.servicos h1{
    color: white;
    margin-bottom: 3.2rem;
    font-size: 3.2rem;
}

.servicos ul li{
    color: white;
    font-size: 2.2rem;
}

ul {
    list-style-image: url('../../images/icon2.png');
    
  }

  @keyframes animacaoServicos {
    from{
        transform: translateX(-4.0rem);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}



  @media screen and (max-width: 700px) {
    
    .servicos{
        margin-top: 10.0rem;
    }
    ul{
        margin: 0 auto;
        width: 75%;
        text-align: left;
        position: relative;
        left: 4.0rem;
    }

    .servicos ul li{
        
        font-size: 1.6rem;
        width: 100%;
        
    }
  }