.servicos{
    margin-top: 50.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos ul li{
    color: white;
    font-size: 2.2rem;
}

ul {
    list-style-image: url('../../images/icon2.png');
    
  }


  @media screen and (max-width: 700px) {
    

    .servicos{
        margin-top: 10.0rem;
    }

    .servicos ul li{
        font-size: 1.6rem;
        width: 100%;
        margin: 0 auto;
    }
  }