
.video{
    
    margin-bottom: 9.0rem;
    height: 40.0rem;
    width: 90.0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


iframe{
    width: 80%;
    height: 100%;

}


@media screen and (max-width: 700px) {
    .video{
        width: 30.0rem;
        height: 15.0rem;
        margin-bottom: 3.0rem;
        
    }
}